.main {
  max-width: 42rem;
  margin: 0 auto;
  padding: theme.spacing(40) theme.spacing(4);
  display: flex;
  flex-direction: column;
  gap: theme.spacing(8);
}

.hiddenPageTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
