.center {
  display: flex;
  align-items: center;
  gap: theme.spacing(4);
}

.priceIcon {
  height: 1rem;
  width: 1rem;
  color: #f59e0b;
}

.priceBadge {
  display: flex;
  align-items: center;
  gap: theme.spacing(2);
  padding: theme.spacing(1) theme.spacing(3);
  font-size: theme.fontSize('sm');
  font-family: var(--font-mono);
  font-variant-numeric: tabular-nums;
  min-width: 150px;
  backdrop-filter: blur(8px);

  @include theme.below(mobile) {
    display: none;
  }
}

.scoreBadge {
  padding: theme.spacing(1) theme.spacing(3);
  font-size: theme.fontSize('sm');
  font-family: var(--font-mono);
  font-variant-numeric: tabular-nums;
  min-width: 120px;
}
